/*@font-face*/
@font-face {
  font-family: Larsseit;
  src: url("../fonts/Larsseit.otf"); }

.body {
  font-family: Larsseit; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F4F9E2; }
  .header__contacts {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 28px;
    margin-top: 20px;
    background-color: #62D0DF;
    border-radius: 28px;
    text-decoration: none; }

.logo {
  font-size: 24px;
  color: #62D0DF; }

.menu-mobile {
  display: none;
  position: relative;
  padding: 5px;
  border: 2px solid #62D0DF;
  border-radius: 10px; }
  .menu-mobile__close {
    position: absolute;
    right: 15px;
    top: 7px;
    width: 15px;
    height: 15px;
    opacity: 0.3; }
  .menu-mobile__close:hover {
    opacity: 1; }
  .menu-mobile__close:before, .menu-mobile__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #333; }
  .menu-mobile__close:before {
    transform: rotate(45deg); }
  .menu-mobile__close:after {
    transform: rotate(-45deg); }
  .menu-mobile__nav {
    display: none;
    position: absolute;
    right: -11px;
    top: -12px;
    background-color: white; }
  .menu-mobile__link {
    display: flex;
    padding: 20px;
    border: 1px solid black;
    min-width: 100px;
    text-decoration: none; }
  .menu-mobile__icon {
    content: "";
    height: 5px;
    width: 30px;
    border-bottom: 17px double #62D0DF;
    border-top: 6px solid #62D0DF; }

.menu-desktop {
  display: flex; }
  .menu-desktop__link {
    text-decoration: none;
    margin: 0 10px; }

.article-thrivetalk {
  display: flex;
  background-color: #F4F9E2;
  display: flex;
  padding: 120px 80px 120px; }
  .article-thrivetalk__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 100px; }
  .article-thrivetalk__img {
    width: 300px;
    height: 300px;
    border-radius: 22%;
    box-shadow: 0 0 7px #666; }
  .article-thrivetalk__text {
    max-width: 530px; }
  .article-thrivetalk__btn {
    display: flex;
    cursor: pointer; }
  .article-thrivetalk__btn_left {
    background-color: #FAB63E;
    padding: 10px;
    margin-right: 10px; }
  .article-thrivetalk__btn_right {
    color: #FAB63E;
    padding: 10px; }

.article-why-thrive {
  display: flex; }
  .article-why-thrive__info {
    display: flex;
    flex-direction: column;
    background-color: #62D0DF;
    color: white;
    padding: 40px;
    justify-content: space-evenly; }
  .article-why-thrive__title {
    font-size: 24px;
    padding-bottom: 20px; }
  .article-why-thrive__text {
    font-size: 24px;
    width: 80%;
    line-height: 33px; }
  .article-why-thrive__img {
    display: flex;
    width: 45%; }

.article-about-us {
  display: flex;
  justify-content: space-around;
  padding: 156px 0; }
  .article-about-us__title {
    padding-left: 106px;
    font-size: 16px;
    min-width: 190px; }
  .article-about-us__text {
    padding-left: 160px;
    font-size: 24px;
    padding-right: 60px; }

.article-we-can-help {
  display: flex;
  flex-direction: column; }
  .article-we-can-help__title {
    font-size: 16px;
    color: #22356F;
    padding-bottom: 24px;
    width: 100%;
    text-align: center; }
  .article-we-can-help__wrapper {
    display: flex;
    flex-direction: row;
    font-size: 24px; }
  .article-we-can-help__section-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 360px;
    color: white; }
  .article-we-can-help__section-info_pink {
    background-color: #FFE2DE; }
  .article-we-can-help__section-info_green {
    background-color: #C4E769; }
  .article-we-can-help__section-info_aquamarine {
    background-color: #62D0DF; }
  .article-we-can-help__section-info_blue {
    background-color: #0052C1; }
  .article-we-can-help__icon {
    height: 5px;
    width: 5px;
    background-color: #FAB63E;
    border-radius: 100%;
    margin-left: 15px; }
  .article-we-can-help__text {
    display: flex;
    padding-left: 15px; }

.table-of-benefits {
  padding-top: 100px;
  padding-bottom: 100px; }
  .table-of-benefits__row {
    display: flex; }
  .table-of-benefits__column {
    display: flex;
    flex-direction: column;
    padding: 20px; }
  .table-of-benefits__title {
    padding-bottom: 40px;
    font-size: 18px;
    font-weight: bold; }

.article-img {
  display: flex;
  width: 45%; }

.article-you-should-also-know {
  display: flex;
  color: #22356F;
  font-size: 24px; }
  .article-you-should-also-know__info {
    display: flex;
    padding: 103px 20px 42px 150px;
    flex-direction: column;
    justify-content: space-around; }
  .article-you-should-also-know__title {
    font-size: 16px; }
  .article-you-should-also-know__title_orange {
    color: #FAB63E; }

.article-contact-us {
  display: flex;
  color: white; }
  .article-contact-us__info {
    display: flex;
    background-color: #22356F;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px; }
  .article-contact-us__title {
    font-size: 16px; }
  .article-contact-us__title_bold {
    font-size: 32px; }
  .article-contact-us__title_aquamarine {
    color: #62D0DF; }
  .article-contact-us__text {
    font-size: 24px;
    max-width: 80%; }

.footer__top-block {
  display: flex; }

.footer__wrapper-img {
  height: 380px; }

.footer__info-table {
  display: flex;
  justify-content: space-around;
  padding-top: 78px;
  padding-bottom: 40px;
  padding-left: 40px; }

.footer__column {
  display: flex;
  flex-direction: column;
  flex: 33%;
  padding: 20px; }

.footer__title {
  padding-bottom: 20px; }

.footer__bottom-block {
  background-color: #62D0DF;
  height: 80px;
  line-height: 80px;
  color: white; }

.footer__icon {
  font-size: 12px;
  padding-left: 179px;
  line-height: 20px; }

.footer__text {
  font-size: 14px; }

/*@media screen*/
@media screen and (max-width: 1040px) {
  .footer__img {
    max-width: 400px;
    margin: 40px 0 40px 20px; } }

@media screen and (max-width: 890px) {
  .article-about-users {
    display: none; }
  .article-contact-us {
    display: none; }
  .article-you-should-also-know {
    display: none; }
  .table-of-benefits {
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center; }
    .table-of-benefits__row {
      flex-wrap: wrap;
      width: 80%;
      margin: 0 auto; }
    .table-of-benefits__column {
      border: 1px solid black;
      margin-top: 30px; }
  .article-why-thrive {
    flex-wrap: wrap; }
    .article-why-thrive__img {
      width: 60%;
      margin: 0 auto;
      padding-top: 40px; }
    .article-why-thrive__info {
      text-align: center; }
    .article-why-thrive__text {
      width: 100%; }
  .article-thrivetalk__info {
    width: 50%;
    padding-left: 0; }
  .article-thrivetalk__img {
    height: 200px;
    width: 200px; }
  .footer__img {
    margin: 0;
    max-width: 100%; }
  .footer__wrapper-img {
    margin: 0 auto;
    height: auto; }
  .footer__top-block {
    flex-wrap: wrap;
    font-size: 14px; }
  .footer__info-table {
    padding: 50px 40px; }
  .footer__column {
    text-align: center; } }

@media screen and (max-width: 790px) {
  .article-about-us {
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    font-size: 20px; }
    .article-about-us__title {
      padding-bottom: 20px;
      font-size: 20px; }
    .article-about-us__text {
      padding: 0 40px;
      text-align: center; }
  .article-we-can-help__wrapper {
    flex-wrap: wrap; }
  .article-we-can-help__section-info {
    width: 50%;
    height: 220px;
    font-size: 18px; }
  .article-why-thrive__text {
    width: 100%;
    font-size: 20px; }
  .article-thrivetalk {
    padding: 15px 25px 40px; }
    .article-thrivetalk__text {
      display: none; }
    .article-thrivetalk__info {
      padding: 0 10px 0 0;
      font-size: 14px; }
    .article-thrivetalk__btn {
      font-size: 10px; }
  .article-about-mission {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px 60px 20px; }
    .article-about-mission__img {
      height: 150px;
      width: 150px;
      margin-top: 15px; }
  .menu-desktop {
    display: none; }
  .menu-mobile {
    display: block; }
    .menu-mobile:hover .menu-mobile__nav {
      display: flex;
      flex-direction: column; }
  .header {
    padding: 10px;
    justify-content: space-between; }
    .header__contacts {
      display: none; }
  .footer__column {
    padding: 10px 5px; }
  .footer__bottom-block {
    text-align: center; }
  .footer__icon {
    padding-left: 0; } }

@media screen and (max-width: 480px) {
  .article-thrivetalk__info {
    text-align: center; }
  .article-thrivetalk__btn {
    flex-direction: column; } }
